.checkbox {
    @apply relative border rounded appearance-none cursor-pointer;

    height: 32px;
    width: 32px;

    &:after {
        @apply absolute top-1/2 left-1/2 text-xl font-bold text-gray-200;

        content: "✓";
        transform: translate3d(-50%, -50%, 0);
    }

    &:checked:after {
        @apply text-green-500;
    }
}

.input {
    height: 32px;
}

.list {
    & li {
        @apply mb-4;

        &:last-of-type {
            @apply mb-0;
        }
    }
}

.button {
    @apply px-2 py-1 flex items-center border rounded;
}